div#subtitle {
  min-height: 380px;
}
div#subtitle .wrap {
  
  position: relative;
  max-width: 100%;
}
div#subtitle .wrap img {
  width: 100%;
}
div#subtitle .wrap .slick-prev, div#subtitle .wrap .slick-next {
  z-index: 2;
  width: 75px;
  height: 75px;
  opacity: 0.75;
}
div#subtitle .wrap .slick-prev:hover, div#subtitle .wrap .slick-next:hover {
  opacity: 1;
}
div#subtitle .wrap .slick-prev::before, div#subtitle .wrap .slick-next::before {
  display: none;
}
div#subtitle .wrap .slick-prev {
  background-image: url(../img/prev.svg);
  left: 250px;
}
div#subtitle .wrap .slick-next {
  background-image: url(../img/next.svg);
  right: 250px;
}
div#subtitle .wrap .slick-dots {
  
  bottom: 25px;
}
div#subtitle .wrap .slick-dots li {
  
}
div#subtitle .wrap .slick-dots li button {
  
}
div#subtitle .wrap .slick-dots li button::before {
  
  font-size: 20px;
  color: white;
}